@{
    ViewData["Title"] = "首页";
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/favicon.ico">
                欢迎来到中央登录认证系统
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                查看中央登录认证系统配置文档请点击
                <a href="~/.well-known/openid-configuration">这里</a>！
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                查看中央登录认证系统接口文档请点击
                <a href="~/swagger/">这里</a>！
            </p>
        </div>
    </div>
</div>

