@using IdentityServer.ViewModels
@model LogoutViewModel

@{ ViewData["Title"] = "注销"; }

<div class="logout-page">
    <div class="page-header">
        <h1>注销</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>您确定注销码？</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">是</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>